.thread_list {
    background-color: pink;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border: 2px;
    border-color: black;
    border-style:solid;
}
.thread {
    background-color: yellow;
    padding: 10px;
    border: 2px;
    border-color: black;
    border-style:solid;
}

.thread_header {
    background-color: lightblue;
    border: 2px;
    border-color: black;
    border-style: solid;
}

.thread_link {
    color: green;
    font-weight: bold;
}

.thread_content {
    display: flex;
    flex-direction: row;
}

.thread_image_container {
    background-color: orange;
    padding: 10px;
    width: 25%;
}

.thread_image {
    max-width: 100%;
}

.thread_text {
    height: inherit;
    background-color: white;
    max-width: 75%;
}